<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#reading">Book Reading</a></li>
  <li><a data-toggle="tab" href="#read">Book Read</a></li>
  <li><a data-toggle="tab" href="#favorite">Book Favorite</a></li>
</ul>
<div class="tab-content">
  <div id="reading" class="tab-pane fade in active">
    <%= render "reading" %>
  </div>
  <div id="read" class="tab-pane fade">
    <%= render "read" %>
  </div>
  <div id="favorite" class="tab-pane fade">
  </div>
</div>
